:root {
    --gris-texte: #5B5C66;
    --bleu-main: #4361EE;
    --gris-fonce-titres: #28303F;
    --gris-clair-background : #f7f5fa;
}

body {
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.active-link {
    color: var(--bleu-main) !important;
}


/**
------------------------------------------------------------------------------------------------------------------------
DEFINITION DES BOUTONS
------------------------------------------------------------------------------------------------------------------------
 */


.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 50px;
    border: 2px solid var(--bleu-main);

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-right: 10px;
    }
}

.fond-bleu {
    background: var(--bleu-main);
    color: white;

    &:hover {
        background: white;
        color: var(--bleu-main);
    }
}

.border-bleu {
    background: white;
    color: var(--bleu-main);

    &:hover {
        background: var(--bleu-main);
        color: white;
    }
}

.icon-animation {
    justify-content: flex-start;
    gap: 10px;
    padding-right: 15px;
    background: var(--bleu-main);
    color: white;

    i {
        padding: 0;
        transition: all 0.5s ease;
    }

    &:hover {
        i {
            padding-left: 10px;
        }
    }
}


/**
------------------------------------------------------------------------------------------------------------------------
DEFINITION DES CLASSES GENERIQUES
------------------------------------------------------------------------------------------------------------------------
 */

.texte-gris-simple {
    color: var(--gris-texte);
    font-size: 1.2em;
    font-weight: 600;
}

.tres-grand-titre {
    font-size: 5em;
    font-weight: bolder;
    color: var(--bleu-main);
    margin-top: 0;
    margin-bottom: 10px;
}

.grand-titre {
    font-size: 4em;
    font-weight: bolder;
    color: var(--gris-fonce-titres);
    margin-top: 0;
    margin-bottom: 10px;
}


/**
------------------------------------------------------------------------------------------------------------------------
DEFINITION DES INDICATEURS
------------------------------------------------------------------------------------------------------------------------
 */


.indicator {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3em;
    font-weight: bolder;

    span {
        display: flex;
        width: 50px;
        height: 3px;
        background: var(--bleu-main);
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        span {
            width: 75px;
        }
    }
}

.color-blue {
    color: var(--bleu-main);
}