.creation-evenement {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center !important;
    position: relative;
    padding-bottom: 50px;

    i {
    }

    .fond-creation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.presentation-creation {
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    margin-top: 50px;

    div:not(.bouton, .indicator) {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            font-size: 2.7em;
        }
    }

    img {
        height: 250px;
    }
}

.wrapForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    padding: 0;

    .entete-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--gris-clair-background);
        padding: 10px;
        box-sizing: border-box;

        img {
            height: 50px;
        }
    }

    form {
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 50px;

        label {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input, textarea {
                padding: 5px;
            }

            textarea {
                min-height: 100px;
                max-width: 100%;
            }

        }
    }
}




/*
----------------------------------------------------------------------------------------------------
RESPONSIVE
----------------------------------------------------------------------------------------------------
 */


@media (max-width: 800px) {

    .presentation-creation {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        width: 95%;
        box-sizing: border-box;

        div:not(.bouton, .indicator) {
            width: 100%;
        }

        img {
            width: 250px;
        }
    }

}

@media (max-width: 700px) {

    .wrapForm {
        width: 95%;

        .wrap-bouton {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        textarea, input {
            font-size: 1.1em;
        }
    }

}